{% extends "layout.html" %}

{% block content %}

<h2> How to Use Our Dashboard </h2>
<p> Our group has spent a significant amount of time refleecting on the impact of machine learning on 
    the communities we work with. That said, <strong> this tool and others like it can be 
    highly flawed and inacccurate. </strong> We recommend that this tool is used only as a 
    guide or sanity check to learn more about the relationship between different data in 
    Rajasthan, not as a primary source of information or decision-making. </p>

<p>Here are some of the considerations used by the team over the duration of the project: 
    <p> <strong> What types of harm can your tech and data do?</strong> </p>
    <ul>
        <li> The largest likely sources of failure would be misinterpreting or misinterpolating with the datasets, or using poor data (garbage in, garbage out philosophy). Our coding and algorithms could also be flawed, which would lead to suboptimal or incorrect conclusions, even if the data is completely accurate. A combination of both is also likely. If any of these failures occur, it could lead public health officials to base their actions off incorrect information.
        <li> Because Khushi Baby’s platforms directly help health workers become more efficient and aware, we must be aware that our work can change how resources are allocated for community health. If done well, this means our project can have large impact. But if not, side-effects and failures can include incorrect information provided to the up to 250 health officials who are using our MVP, which result in suboptimal targeted interventions. 
        <li> Our ethical professional obligations in this project mainly revolve around aiming, to the best of our abilities, to be intentional in avoiding biased algorithms (intentional and extensive data collection and model testing) and upholding general integrity in serving the benefit and mission of Khushi Baby. 
        <li> Other ethical professional obligations may include being transparent to partner organization about the limitations of our model and the potential biases it might have and being conscious of handling potentially sensitive data or individual data that may concern privacy issues. 
    </ul>    

</p> 

{% endblock %}
